<!DOCTYPE html>
<html>
  <head>
    <title>Torrent</title>

    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/photon.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/w3.css" />
    <!-- Javascript -->
    <script type="text/x-template" id="dialog1">

      <h1>Dialog</h1>

      <button class="btn btn-system">Cancel</button>
      <button class="btn btn-system btn-active">Button</button>
    </script>

    <script src="js/jquery.min.js" charset="utf-8"></script>
  </head>

  <body>
    <div class="window">
      <header class="toolbar toolbar-header">
        <h1 class="title">VS Torrent</h1>
        <div class="toolbar-actions">
          <button class="btn btn-default" onClick="toggle('root')">
            <span class="icon icon-home icon-text"></span>Home
          </button>
          <button class="btn btn-default" onClick="toggle('make_torrent')">
            <span class="icon icon-tools icon-text"></span>Make Torrent
          </button>
          <button class="btn btn-default" onClick="toggle('main')">
            <span class="icon icon-download icon-text"></span>
            Download Torrent
          </button>
          <button class="btn btn-default pull-right">
            <span class="icon icon-info icon-text"></span>Info
          </button>
          <button class="btn btn-default pull-right">
            <span class="icon icon-book icon-text"></span>
            Stats
          </button>
        </div>
      </header>

      <div class="window-content">
        <div
          id="root"
          class="view d-flex flex-column justify-content-center align-items-center"
          style="width: 100%; background-color: #bbb"
        >
          <div>
            <div
              class="d-flex flex-row justify-content-center align-items-center"
              style="width: 50vw"
            >
              <div class="row">
                <div class="container" style="margin-bottom: 50%">
                  <h1>VS TORRENT</h1>
                </div>
              </div>
            </div>

            <div
              class="d-flex flex-row justify-content-center align-items-center"
              style="width: 50vw"
            >
              <div class="row justify-content-center">
                <div class="w3-container p-2">
                  <button
                    class="btn btn-large btn-primary btn-root"
                    id="download"
                    onclick="toggle('main')"
                  >
                    Download Torrent
                  </button>
                </div>
                <div class="w3-container p-2">
                  <button
                    class="btn btn-large btn-primary btn-root"
                    id="make"
                    onclick="toggle('make_torrent')"
                  >
                    Make Torrent
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="make_torrent"
          class="hidden d-flex justify-content-center"
          style="width: 100%; background-color: #bbb; height: 125vh"
        >
          <div class="d-flex" style="padding: 10px">
            <div class="d-flex flex-column">
              <center>
                <div class="p-2 align-items-center">
                  <h1>Make Torrent</h1>
                </div>
                <div class="radio">
                  <span style="margin: 1em; justify-content: center">
                    <label>
                      <input
                        type="radio"
                        name="radios"
                        checked
                        id="makeFolder"
                      />
                      Folder
                    </label>
                  </span>
                  <span>
                    <label>
                      <input type="radio" name="radios" id="makeFile" />
                      File
                    </label>
                  </span>
                </div>
                <div class="p-2">
                  <div class="d-flex flex-row align-items-center">
                    <div class="p-2 mr-5">
                      <h4>Choose the file/folder</h4>
                    </div>
                    <div class="p-2 mr-5">
                      <span
                        id="makeSource"
                        class="icon icon-folder"
                        style="font-size: 400%; cursor: pointer"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="p-2 align-items-center">
                    <h6 id="file-make"></h6>
                  </div>
                </div>
                <div class="p-2">
                  <div class="d-flex flex-row align-items-center">
                    <div class="p-2 mr-4">
                      <h4>Select Location to save</h4>
                    </div>
                    <div class="p-2 mr-5">
                      <span
                        id="makeLocation"
                        class="icon icon-folder"
                        style="font-size: 400%; cursor: pointer"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="p-2 align-items-center">
                    <h6 id="folder-make"></h6>
                  </div>
                </div>
                <div class="form-group">
                  <label>Name of Torrent</label>
                  <input
                    type="text"
                    id="make-name"
                    class="form-control"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label>Add trackers</label>
                  <textarea
                    id="trackers"
                    class="form-control"
                    rows="3"
                    placeholder="Add trackers separated by comma"
                    required
                  ></textarea>
                </div>

                <button
                  class="btn btn-large btn-primary"
                  disabled
                  id="proceed-make"
                >
                  Proceed
                </button>
              </center>
            </div>
          </div>
        </div>

        <div
          id="main"
          class="hidden d-flex justify-content-center"
          style="
            width: 100%;
            background-color: #bbb;
            height: 120vh;
            overflow: hidden;
          "
        >
          <div class="d-flex justify-content-center" style="padding: 10px">
            <div class="d-flex flex-column">
              <center>
                <div class="p-2">
                  <h1>Complete the Setup</h1>
                </div>

                <div class="p-2">
                  <div class="d-flex flex-row justify-content-center">
                    <div class="p-2 mr-5">
                      <h4>Choose a torrent file</h4>
                    </div>
                    <div class="p-2 mr-5">
                      <span
                        id="fileLocation"
                        class="icon icon-folder"
                        style="font-size: 400%; cursor: pointer"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="p-2 justify-content-center">
                    <h6 id="file-chosen"></h6>
                  </div>
                </div>
                <div class="p-2">
                  <div class="d-flex flex-row justify-content-center">
                    <div class="p-2 mr-4">
                      <h4>Select Location to save</h4>
                    </div>
                    <div class="p-2 mr-5">
                      <span
                        id="folderLocation"
                        class="icon icon-folder"
                        style="font-size: 400%; cursor: pointer"
                      >
                      </span>
                    </div>
                  </div>
                  <div class="p-2 justify-content-center">
                    <h6 id="folder-chosen"></h6>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <span class="col-md-3 col-xs-12">
                    <label>Maximum Upload Speed</label>
                    <input
                      id="setUspeed"
                      type="number"
                      class="form-control options"
                      placeholder="Upload Speed"
                    />
                  </span>
                  <span class="col-md-3 col-xs-12">
                    <label>Maximum Download Speed</label>
                    <input
                      id="setDspeed"
                      type="number"
                      class="form-control options"
                      placeholder="Download Speed"
                    />
                  </span>
                  <span class="col-md-3 col-xs-12">
                    <label>Maximum Peer Connections</label>
                    <input
                      id="setPeers"
                      type="number"
                      class="form-control options"
                      placeholder="Maximum Peer Connections"
                    />
                  </span>
                </div>
                <div class="container m-3">
                  <button
                    class="btn btn-large btn-primary"
                    disabled
                    id="proceed"
                  >
                    Proceed
                  </button>
                </div>
              </center>
            </div>
          </div>
        </div>
        <div class="hidden" id="play">
          <div class="pane-group">
            <div class="pane">
              <list-group>
                <list-item>
                  <div class="w3-container t-main">
                    <h4 id="t-name" style="font-weight: 700">Torrent File</h4>
                    <div class="row">
                      <div class="col-sm-12 col-md-8">
                        <span><b>Created On: </b><span id="t-on"></span></span>
                      </div>
                      <div class="col-sm-12 col-md-4">
                        <span><b>Created By: </b><span id="t-by"></span></span>
                      </div>
                      <div class="col-sm-12">
                        <span>
                          <b style="margin-right: 10px">Progress - </b
                          ><span id="d-size">0</span> kB of
                          <span id="t-size"></span> kB (
                          <span id="t-percent">0%</span> )
                        </span>
                      </div>
                    </div>

                    <div class="w3-light-grey" style="border-radius: 50px">
                      <div
                        id="progressBar"
                        class="w3-container w3-light-grey"
                        style="height: 20px; width: 0%; border-radius: 50px"
                      ></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <h6>
                          <b style="margin-right: 10px">Download Speed - </b
                          ><span id="d-speed">0</span> kBps
                        </h6>
                      </div>
                      <div class="col-sm-6">
                        <h6>
                          <b style="margin-right: 10px">Upload Speed - </b
                          ><span id="u-speed">0</span> kBps
                        </h6>
                      </div>
                    </div>
                  </div>
                </list-item>
              </list-group>
            </div>

            <div class="pane pane-one-fourth sidebar" style="width: 30%">
              <div class="tab-group">
                <div class="tab-item active" onClick="change(this,'tab-1')">
                  Metadata
                </div>
                <div class="tab-item" onClick="change(this,'tab-2')">Files</div>
                <div class="tab-item" onClick="change(this,'tab-3')">
                  Connections
                </div>
              </div>
              <ul class="list-group tab tab-1">
                <li class="list-group-header">
                  <center>
                    <h3 class="title" style="font-size: 1em">Metadata</h3>
                  </center>
                </li>
                <li class="list-group-item" style="font-size: 1em">
                  <span class="row">
                    <span
                      class="icon icon-record col-md-1"
                      style="color: aqua"
                    ></span>
                    <span style="padding-left: 10px" class="col-lg-5 col-sm-11"
                      ><strong>Status</strong></span
                    >
                    <span style="padding-left: 10px" class="col-lg-6 col-xs-12">
                      <p>
                        <span id="t-status">Fetching Status..</span>
                      </p>
                    </span>
                  </span>
                </li>
                <li class="list-group-item" style="font-size: 1em">
                  <span class="row">
                    <span
                      class="icon icon-record col-md-1"
                      style="color: red"
                    ></span>
                    <span style="padding-left: 10px" class="col-lg-5 col-sm-11"
                      ><strong>Trackers</strong></span
                    >
                    <span style="padding-left: 10px" class="col-lg-6 col-xs-12">
                      <p>
                        Found &nbsp<span id="t-trackers">0</span>&nbspTrackers
                      </p>
                    </span>
                  </span>
                </li>
                <li class="list-group-item" style="font-size: 1em">
                  <span class="row">
                    <span
                      class="icon icon-record col-md-1"
                      style="color: blue"
                    ></span>
                    <span style="padding-left: 10px" class="col-lg-5 col-xs-11"
                      ><strong>Connected Peers</strong></span
                    >
                    <span style="padding-left: 10px" class="col-lg-6 col-xs-12">
                      <p><span id="t-peers">0</span>&nbspConnected Peers</p>
                    </span>
                  </span>
                </li>
                <li class="list-group-item" style="font-size: 1em">
                  <span class="row">
                    <span
                      class="icon icon-record col-md-1"
                      style="color: orange"
                    ></span>
                    <span style="padding-left: 10px" class="col-lg-5 col-xs-11"
                      ><strong>Unchoking Peers</strong></span
                    >
                    <span style="padding-left: 10px" class="col-lg-6 col-xs-12">
                      <p><span id="t-unchoked">0</span>&nbsp Unchoked</p>
                    </span>
                  </span>
                </li>
                <li class="list-group-item" style="font-size: 1em">
                  <span class="row">
                    <span
                      class="icon icon-record col-md-1"
                      style="color: green"
                    ></span>
                    <span style="padding-left: 10px" class="col-lg-5 col-xs-11"
                      ><strong>Pieces</strong></span
                    >
                    <span style="padding-left: 10px" class="col-lg-6 col-xs-12">
                      <p><span id="t-pieces">0</span>&nbspPieces</p>
                    </span>
                  </span>
                </li>

                <li class="list-group-item" style="font-size: 1em">
                  <span class="row">
                    <span
                      class="icon icon-record col-md-1"
                      style="color: yellowgreen"
                    ></span>
                    <span style="padding-left: 10px" class="col-lg-5 col-xs-11"
                      ><strong>Piece Length</strong></span
                    >
                    <span style="padding-left: 10px" class="col-lg-6 col-xs-12">
                      <p><span id="t-pieceLen">0</span>&nbspBytes</p>
                    </span>
                  </span>
                </li>
              </ul>
              <div id="files" class="tab tab-2" style="display: none"></div>
              <div id="connections" class="tab tab-3" style="display: none">
                <center>
                  <h3 class="title" style="font-size: 1em">
                    <b>Connected Peers</b>
                  </h3>
                </center>
                <table class="table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10% !important">S.No.</th>
                      <th>IP</th>
                      <th>Port</th>
                    </tr>
                  </thead>
                  <tbody id="t-connections"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="toolbar toolbar-footer">
        <h1 class="title">Developed By Vasu</h1>
      </footer>
    </div>
  </body>
  <script src="js/files.js" charset="utf-8"></script>
  <script src="js/script.js" charset="utf-8"></script>
  <script src="js/connect.js" charset="utf-8"></script>
</html>
